---
- name: Install AppImageLauncher
  include_tasks: app_image_launcher.yml

# In fact the kdrive version is not even complete, there is some kind of a hash added
# So do a lookup
- name: Check if we should download kDrive
  find: 
    paths: "{{home_folder}}/Applications/"
    file_type: file
    use_regex: yes
    patterns: "kDrive.*AppImage"
  register: kdrive_exists

- name: Download kdrive AppImage
  get_url:
    owner: "{{ansible_user}}"
    url: "https://download.storage.infomaniak.com/drive/desktopclient/kDrive-{{kdrive_version}}-amd64.AppImage"
    dest: "{{download_folder}}"
  when: kdrive_exists.matched == False

- name: YOU have to use AppImageLauncher to "install" kDrive correctly (if Applications folder doesn't exist, launch AppImageLauncher)
  wait_for:
    path: "{{home_folder}}/Applications"
  when: kdrive_exists.matched == False

