// BEWARE: That file MUST start with a comment line
// Everything is explained in the following articles
// Mozilla reference
// https://enterprise.thunderbird.net/deploy/mcd-thunderbird-autoconfig
// or (in French) https://support.mozilla.org/fr/kb/configurer-firefox-avec-autoconfig
// A very good serie of articles exposing the full set of configuration
// https://blog.deanandadie.net/tag/thunderbird/

{% macro injectDictInConfig(prefix, dict) -%}
{% for key in dict %}
pref("{{ prefix + "." + key }}", "{{dict[key]}}")
{% endfor %}
{%- endmacro %}

{% set thunderbird_addresses_ids = [] %}
{% set thunderbird_smtp_ids = [] %}
{% for email in thunderbird_addresses %}
////////////////////////// {{email}} account ///////////////////////////////////////////////
    {% set id_key =email + "_id" %}
    {% set smtp_key = email + "_smtp" %}
    {% set imap_key = email + "_imap" %}
    {{ thunderbird_addresses_ids.append(id_key) }}
    {{ thunderbird_smtp_ids.append(smtp_key) }}
    {% set configuration = thunderbird_addresses[email] %}
// Identity
pref("mail.identity.{{id_key}}.fullName", "Nicolas Delsaux");
pref("mail.identity.{{id_key}}.smtpServer", "{{smtp_key}}");
    {% set imap = configuration['imap'] %}

// IMAP server settings
pref("mail.server.{{imap_key}}.type", "imap");
{{ injectDictInConfig("mail.server."+ imap_key, imap) }}

{% set smtp = configuration['smtp'] %}
// SMTP server settings
{{ injectDictInConfig("mail.server."+ smtp_key, smtp) }}

// Glue it all together
pref("mail.account.{{email}}.identities", "{{id_key}}");
pref("mail.account.{{email}}.server", "{{imap_key}}");

{% endfor %}

////////////////////////// assemble all account infos ///////////////////////////////////////////////

pref("mail.accountmanager.accounts", "{{thunderbird_addresses_ids|join(", ")}}");
pref("mail.accountmanager.defaultaccount", "{{thunderbird_addresses_ids[0]}}");

pref("mail.smtpservers", "{{thunderbird_smtp_ids|join(", ")}}");
pref("mail.smtp.defaultserver", "{{thunderbird_smtp_ids[0]}}");
