---
- name: Install required packages
  apt:
    name: "{{ packages }}"
  vars:
    packages:
    - bash-completion
    - pluma
    - gedit
    - nano

# See https://maniacgeek.net/linux-open-source/comment-installer-vscodium-sur-ubuntu-linux/
- name: Add VSCodium debian repository
  deb822_repository:
    name: VSCodium
    state: present
    uris: https://paulcarroty.gitlab.io/vscodium-deb-rpm-repo/debs
    suites: vscodium
    signed_by: https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/raw/master/pub.gpg
    components:
      - main

- name: Install editors
  apt:
    name: "{{ packages }}"
  vars:
    packages:
      - codium

- name: Install sync extension
  become: true
  become_user: "{{ansible_user}}"
  shell: codium --install-extension zokugun.sync-settings

- name: Configure terminal editor
  become: true
  become_user: "{{ansible_user}}"
  lineinfile: 
    path: "{{ home_folder }}/.profile"
    line: "export EDITOR=nano"
    state: "present"
    create: "yes"

