---
# Automate dynamic wallpapers install (but it never worked https://github.com/saint-13/Linux_Dynamic_Wallpapers)
- name: Create dynamic wallpapers directory
  file:
    path: "{{open_source_folder}}"
    state: directory
  become: true
  become_user: "{{ansible_user}}"

- name: Clone git repository
  become: true
  become_user: "{{ansible_user}}"
  git:
    repo: https://github.com/saint-13/Linux_Dynamic_Wallpapers.git
    dest: "{{open_source_folder}}/Linux_Dynamic_Wallpapers"

- name: Run install package
  become: true
  shell: "./install.sh"
  args:
    chdir: "{{open_source_folder}}/Linux_Dynamic_Wallpapers"